:root{
    --height-void: 6rem;
}

#main{
    box-sizing: border-box;
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
}

header{
    /* height: var(--height-header); */
    height: max-content;
}

#container{
    display: flex;
}

#izquierda{
    display: block;
    max-width: 30vw;
    min-width: 10vw;
    width: 10vw;
    overflow: auto;
    resize: horizontal;
    text-overflow: ellipsis;
    white-space: nowrap;
    scrollbar-width: none;
    padding: 0.5rem 0.8rem 0 0;
}

#content{
    width: max(100%,100vw);
    min-height: calc(100vh - var(--height-void));
    
}

#derecha{
    min-height: calc(100vh - var(--height-void));
}

.derecha_out{
    width: 0;
    transform-origin: 100% 0% 0;
    transform: scaleX(0);
    transition: all 0.5s ease-in;
}

.derecha_in{
    width: 20vw;
    transform-origin: 100% 0% 0;
    transform: scaleX(-25rem);
    transition: all 0.5s ease-out;
}

footer {
    height: 3.5rem;
}

/* Tablets */
@media screen and (max-width: 1090px) {
    #main{
        max-width: 100%;
        width: 100%;
    }
    #izquierda{
        display: none;
        width: 40vw;
    }
    #derecha{
        right: 1.7rem;
    }
    .derecha_in{
        width: 50vw;
    }

    
}

/* Moviles */
@media screen and (max-width: 700px) {
    #main{
        max-width: 100%;
        width: 100%;
    }
    #izquierda{
        display: none;
        width: 40vw;
    }
    #derecha{
        right: 1.7rem;
    }
    .derecha_in{
        width: 50vw;
    }
}